<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <link href="/sass/stil.sass" rel="stylesheet" />
  </head>
  <body>
    <h1>genel.erb</h1>
    <%= yield %>
  </body>
</html>
